/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
	color: #222;
}

html {
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 0.5em 0;
	padding: 0;
}

audio,
canvas,
img,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	background:#111;
	font-family: "Helvetica Neue",  "Helvetica", "Arial", sans-serif;
}

#centre{
	padding:20px;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	min-width: 400px;
	max-width: 1500px;
	background: #222;
	text-align: center;
}

header{
	font-weight:100;
	font-size: 20px;
	letter-spacing: 6px;
}


#headerMike{
	color:#F00;
}

#headerPan{
	color:#EEE;
}

#headerSub{
	font-size: 14px;
	letter-spacing: 10px;
	color:#999;

}

#headerHR{
	border-top: 1px solid #333;
}

#main{
	padding-top:20px;
	padding-bottom: 20px;
}

#main .grid{
	display: inline-block;
	color:#888;
	font-weight:100;
	font-size:12px;
	letter-spacing: 1px;
	margin:20px;
	background: #111;
	border-radius: 5px;
	padding-top:10px;
	box-shadow: 0px 10px 20px -5px #111;
	/*opacity: 0.7;*/
}

#main .grid:hover{
	box-shadow: 0px 10px 60px -5px #111;
	opacity: 1.0;
}


#main .preview{
	border-radius: 0 0 5px 5px;
	padding:0;
	margin:0;
	margin-top:10px;
}

footer{
	clear:both;
	font-size: 11px;
	letter-spacing: 2px;
	color:#555;
}

#aboot{
	background: #322;
	color:#655;
	margin:20px -20px 20px -20px;
	padding:10px;
	font-weight: 200;
	font-size:14px;
}

#aboot #left{
	display:none;
	width:30%;
	min-width:100px;
	float:left;
}

#aboot #right{
	display:none;
	width:70%;
	min-width:400px;
	float:right;
	text-align: left;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
	   (-o-min-device-pixel-ratio: 5/4),
	   (-webkit-min-device-pixel-ratio: 1.25),
	   (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}