/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
	color: #222;
}

html {
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 0.5em 0;
	padding: 0;
}

audio,
canvas,
img,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	background:#222;
	font-family: "Helvetica Neue",  "Helvetica", "Arial", sans-serif;
}

.splash{
	height:150px;
	background-image: url('../content/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
	box-shadow: 0px 10px 30px 0px #000;
}

#centre{
	padding:0px;
	margin-left: auto;
	margin-right: auto;
	min-width: 350px;
	max-width: 1550px;
	text-align: center;
	margin-top:-150px;
}

header{
	font-weight:100;
	font-size: 26px;
	letter-spacing: 6px;
	position: relative;
	top:50px;
	text-shadow: 0px 0px 20px #024;
}

header a{
	text-decoration: none;
}

header a:hover{
	color:#476;
	border-radius: 50px;
	text-shadow: 0 0 5px white;
	padding:15px;
}

#headerMike{
	color:#F00;
}

#headerPan{
	color:#FFF;
}

#headerSub{
	font-size: 20px;
	letter-spacing: 10px;
	color:#FFF;
}

#arrow{
	font-size:40px;
	color:rgba(255,255,255,1);
	opacity:0;
}


.faintHR{
	border-top: 1px solid rgba(255,255,255,0.1);
}


#main{
	padding-top:40px;
	padding-bottom: 20px;
}

#main .grid{
	display: inline-block;
	color:#888;
	font-weight:100;
	font-size:14px;
	letter-spacing: 1px;
	margin:25px 1% 25px 1%;
	background: #111;
	border-radius: 5px;
	padding-top:10px;
	padding-bottom:10px;
	box-shadow: 0px 10px 50px -5px #111;
}

#main .preview{
	border-radius: 0 0 5px 5px;
	padding:0;
	margin:0;
	margin-top:10px;
}

#main .grid:hover{
	box-shadow: 0px 0px 5px 0px #0cf;
}

footer{
	clear:both;
	font-size: 14px;
	font-weight: 200;
	letter-spacing: 1px;
	color:#555;
	padding: 50px 0 50px 0;
}

#aboot{
	background: #333;
	color:#877;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	padding:20px;
	font-weight: 200;
	font-size:15px;
	max-width: 900px;
	min-width: 400px;
	border-radius: 0 10px 0px 10px;
	max-height: 999999px;  /* prevent font boosting on mobile*/
}


#aboot #cen{
	text-align: left;
}


#aboot #right{
	width:15%;
	min-width: 120px;
	float:right;
	height:120px;
	margin-left:20px;
	border-left:1px solid rgba(255,255,255,0.1);
}


#aboot li{
	text-align: left;
	list-style: square;
}

#aboot a{
	color:#877;
	text-decoration: none;
}

#aboot a:hover{
	color:#479;
}

/* ==========================================================================
   Secondary pages
   ========================================================================== */

#splashCube{
	background-image: url('../content/cubes/banner.jpg');
	box-shadow: 0px 10px 30px 0px #111;
}

#splashFlipbook{
	height:300px;
	background-image: url('../content/mfb/banner.jpg');
}

#splashBMW{
	background-image: url('../content/bmw/banner.jpg');
}

#splashOcean{
	background-image: url('../content/oceanviz/banner.jpg');
}

#splashNSX{
	background-image: url('../content/nsx/banner.jpg');
}

#splashBikes{
	background-image: url('../content/bikes/banner.jpg');
}


article{
	margin:auto;
	margin-top:100px;
	max-width: 940px;
	padding:10px;
	color: #888;
	font-weight:200;
	font-size:16px;
	text-align: justify;
	max-height: 100000px;
}

article h3{
	padding:20px;
	font-family: "Helvetica Neue",  "Helvetica", "Arial", sans-serif;
	letter-spacing: 1px;
	font-weight:100;
	font-size:22px;
	line-height: 60px;
	text-align: center;
	color:#aaa;
}


article img{
	width:100%;
	margin-top:30px;
	margin-bottom:30px;
	border-radius: 7px;
	box-shadow: 0 0 100px #000;
}

article a{
	color:#79a;
	text-decoration: none;
}


article a:hover{
	color:#fff;
	text-decoration: none;
}

article .spotlight{
	color:#79a;
	text-decoration: none;
	text-align: center;
}


article #flourish{
	text-align: center;
	font-size:32px;
	opacity:0.4;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
	   (-o-min-device-pixel-ratio: 5/4),
	   (-webkit-min-device-pixel-ratio: 1.25),
	   (min-resolution: 120dppi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}